.Backdrop {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(113, 113, 113, 0.4);
}

.Modal {
  width: 600px;
  height: 400px;
  background-color: #fff;
  padding: 20px;
}
