html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  color: #212112;
  position: relative;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* .Filter-input {
  width: 600px;
} */
