.Notification {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 50px;
  width: 300px;
  height: 30px;
  background-color: tomato;
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: snow;
  outline: none;
}
